* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
body {
    margin: 0;
    padding: 0;
    color: #555;
    font-family: 'Roboto', sans-serif, Arial;
    font-weight: 350;
}

.profils {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: #333;
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;   
    background-color: #fff; 
    z-index: 20;
    margin-bottom: 320px;
    position: relative;
}

.container1 {
    width: 99vw;
    position: relative;
    /* display: flex; */
    /* justify-content: space-between; */
    z-index: 10;
}

.container1 .card {
    position: relative;
    border-radius: 10px;
    background-color: #fff;
    align-items: center;
}

.container1 .card .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: 0.7s;
    z-index: 1;
    color: #fff;
    text-align: center;
}

.container1 .card:nth-child(1) .icon {
    background: #96BF02;
}

.container1 .card:nth-child(2) .icon {
    background: #006742;
}

.container1 .card:nth-child(3) .icon {
    background: #96BF02;
}

.container1 .card .icon .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: #fff;
}

.container1 .card .icon p {
    margin-top: 25%;
}

i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: #fff;
}

.container1 .card .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
    margin: 0 20px 0 20px;
}

.container1 .card .content p {
    font-size: 1rem;
}

.container1 .card .face.face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container1 .card:hover .face.face1{
    background: #ff0057;
    transform: translateY(0px);
}

.container1 .card .face.face1 .content {
    opacity: 1;
    transition: 0.5s;
}

.container1 .card:hover .face.face1 .content {
    opacity: 1;
}

.container1 .card .face.face1 .content i{
    max-width: 100px;
}

.container1 .card .face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8);
    transform: translateY(-100px);
}

.container1 .card:hover .face.face2{
    transform: translateY(0);
}

.container1 .card .face.face2 .content p {
    margin: 0;
    padding: 0;
    text-align: justify;
    color: #414141;
}

.container1 .card .face.face2 .content h3 {
    margin: 0 0 10px 0;
    padding: 0;
    color: #fff;
    font-size: 24px;
    text-align: center;
    color: #414141;
}

.container1 a {
    text-decoration: none;
    color: #414141;
    font-weight: 600;
}

.container1 a:hover {
    text-decoration: none;
    color: #414141;
    font-weight: 600;
    font-size: 1.2rem ;
    
}
  
  /* ------ Titles ------ */
  
  h1 {
    color: #006742;
    font-weight: 400;
    font-size: 280%;
  }
  
  h2 {
    margin: 30px auto 30px auto;
    font-size: 300%;
    color: #555;
    font-weight: 300;
    word-spacing: 2px;
    letter-spacing: 1px;
  }
  
  h2:after {
    content: "";
    width: 50px;
    height: 4px;
    background-color: #96BF02;
    display: block;
    margin: 30px auto 0 auto;
  
  }
  
  h3 {
    font-weight: 300;
    color: #555;
  }

  .title-section {
      background-color: #fff;
      position: relative;
      margin-top: 90px;
      z-index: 20;
  }
  
  /* ------ Paragraphs ------ */
  
  p {
    font-size: 100%;
  }
  
  section {
    padding-bottom: 40px;
  }
  
  section li {
    font-size: 120%;
    margin-bottom: 6px;
  }
  
  /* ---------- Header ---------- */
  
  #opacity{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
  }
  
  #main-logo {
    width: 120px;
    transition: width 0.8s;
  }
  
  .navbar {
    padding: 0;
    margin: 0;
    box-shadow: 0 2px 2px #bbb;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }
  
  .navbar .container .navbar-brand {
    padding: 0;
    margin: 5px 0;
  }
  
  .navbar .container .collapse .navbar-nav {
    margin-top: 35px;
  }
  
  .navbar .container .collapse .navbar-nav .nav-item .nav-link {
    text-transform: uppercase;
    font-weight: 400;
    padding: 5px 0 30px 0;
    margin-right: 30px;
    font-size: 88%;
    /* color: #96BF0D; */
    color: #006742;
  }
  
  .navbar .container .collapse .navbar-nav .nav-item .nav-link:hover {
    border-bottom: 2px solid #96BF0D;
    color: #96BF0D;
  }
  
  .navbar-nav li:hover>.dropdown-menu {
    display: block;
  }
  
  .dropdown-menu .dropdown-item {
    color:#006742;
  }
  
  /* ------------------------------- */
  /* ---------- fields section ---------- */
  /* ------------------------------- */
  
  .fields-section {
    position: relative;
    z-index: 8;
    overflow: hidden;
    background-color: #fff;
    padding-bottom: 100px;
    margin-top: 90px;
  }
  
  .fields-section .row .fields-title {
    text-align: center;
  }

  .center {
      margin: 0 auto;
  }

  .table-begin {
      margin-top: 50px;
  }

  .table-begin .row {
      margin-top: 20px;
  }

  .table-begin p{
      margin-bottom: 0;
  }

  .fields-btn {
      width: 100%;
      margin: 0 20px;
      transition: margin-right 1s;
  }

  .fields-btn:hover {
    margin-right: 60px;
}

  .fields-btn .btn {
      width: 100%;
  }
  
  .text_info {
    width: 70%;
    margin-left: 15%;
    text-align: justify;
    line-height: 145%;
  }

  .card {
      border: none;
  }

  /* ------------------------------- */
  /* ---------- Footer ---------- */
  /* ------------------------------- */
  
  footer {
    background-color: rgb(226, 226, 226);
    width: 100%;
    font-size: 70%;
    position: fixed;
    bottom: 0;
    z-index: 0;
  }
  
  footer h3 {
    margin: 10px auto 5px auto;
    /* color: #96BF02; */
  }
  
  footer a:link,
  footer a:visited {
    color: #96BF02;
  }
  
  .kontakt-foot {
    text-align: center;
  }
  
  .impressum div {
    margin: 0 auto;
  }
  
  .impressum a:link,
  .impressum a:visited {
    color: #555;
    font-size: 140%;
  }
  
  .footer-icon {
    padding-bottom: 20px;
  }
  
  .footer-icon div {
    margin: 0 auto;
  }
  
  .footer-icon img {
    width: 32px;
    filter: invert(34%) sepia(0%) saturate(3121%) hue-rotate(333deg) brightness(98%) contrast(98%);
  }
  
  .footer-icon img:hover {
    filter: invert(38%) sepia(72%) saturate(525%) hue-rotate(182deg) brightness(86%) contrast(86%);
  }